body {
  height: 100vh;
  background-color: #3498db;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 26px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.range {
  appearance: none;
  -webkit-appearance: none;
  background-color: lightgoldenrodyellow;
  border-radius: 16px;
  height: 6px;
  width: 100%;
  outline: thin solid red;
}

.range::-moz-range-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background-color: lightcyan;
  border: 2px solid lightcoral ;
  border-radius: 50%;
  transition: .2s ease-in-out;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background-color: lightcyan;
  border: 2px solid lightcoral ;
  border-radius: 50%;
  transition: .2s ease-in-out;
}

datalist {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  margin: 0;
}